.container {
  margin-top: 40px;
}
.box {
  width: 132px;
  height: 154px;
  padding: 10px;
  cursor: pointer;
}
.box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
}
.heading {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.discount {
  font-size: 13px;
  font-weight: 600;
  color: rgb(251, 98, 98);
}
.backColor {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: radial-gradient(
      150px 150px at 95% 0%,
      rgba(253, 186, 43, 0.3) 0%,
      rgba(253, 186, 43, 0) 100%
    ),
    radial-gradient(
      150px 150px at 5% 0%,
      rgba(120, 213, 242, 0.3) 0%,
      rgba(253, 186, 43, 0) 100%
    );
}
